<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726175851822-ldkff64ll4baq0nfsupi9f2b87nkj4qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726175851822-ldkff64ll4baq0nfsupi9f2b87nkj4qq</string>
	<key>API_KEY</key>
	<string>AIzaSyCSgykHzDXdR-FO2RPu9saVWv32qJZMTT8</string>
	<key>GCM_SENDER_ID</key>
	<string>726175851822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kksystems.expenser</string>
	<key>PROJECT_ID</key>
	<string>expenser-bc977</string>
	<key>STORAGE_BUCKET</key>
	<string>expenser-bc977.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726175851822:ios:05a42de32143f376ac46bf</string>
</dict>
</plist>